<div class="panel">
    <form [formGroup]='myForm' (ngSubmit)='addItem()' novalidate>
        <input
        formControlName="name"
        placeholder="Модель"
        />
        <input
        type="number"
        formControlName="price"
        placeholder="Цена"
        />
        <button>Добавить</button>
    </form>
    
    <div class="main-container">
        <div *ngFor='let item of items' style="display: flex;">
            <p style="margin-right: 10px;">{{item.name}} </p>
            <p style="margin-right: 10px;">{{item.price}}</p>
            <button (click)='deleteItem(item.id)'>del</button>
        </div>
    </div>
    
  </div>